header{
    background-image: url(../assets/images/Background_Intro.png);
    background-size: 100%;
    object-fit: cover;
    padding-bottom: 54px;
}
#info{
    padding-top: 120px;
    padding-bottom: 80px;
    padding-inline: 163px;
    div{
        display: flex;
        justify-content: center;
        padding-inline: 180px;
        h2 span{
            color: var(--red);
        }
    }
    
    #avatar{
        position: relative;
        padding-bottom: 56px;
    }

    #avatar img:nth-child(1){
        width: 87px;
        height: 87px;
        border-radius: 50%;
        border: 3px solid var(--red);
        padding: 3px;
        object-fit: cover;
        
    }
    #avatar img:nth-child(2){
        position: absolute;
        width: 30px;
        height: 30px;
        object-fit: cover;
        bottom: 40%;
        right: 45%;        
    }

    #text{
        flex-direction: column;
        align-items: center;
        padding-bottom: 8px;
        text-align: center;
    }

}
#tags{
    padding-bottom: 94px;
    ul{
        display: flex;
        list-style: none;
        gap: 16px;
        justify-content: center;
    }
    li{
        /* width: 114px;
        height: 40px; */
        border-radius: 999px;
        background-color: var(--gray-300);

        display: flex;
        padding-inline: 16px;
        padding-block: 8px;
        align-items: center;
        justify-items: center;
        gap: 8px;

        p{
            margin: 0;
            padding: 0;
        }
    } 
}

header img{
    display: flex;
    justify-self: center;
}